{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block head %}
    {{ instance.title }} | {{ block.super }}
{% endblock head %}
<style>
    {% block style %}
        h1 {
            color: #777777;
        }
    {% endblock style %}
</style>
{% block content %}

    {{ object }}
    <div class="col-sm-6 col-sm-offset-3">
<h1>Confirm Delete</h1>

                <form method="POST" action="."> {% csrf_token %}
                    <p>Are you sure want to delete: "{{ object.content }}"</p>
                    <input type="submit" value="Confirm" class="btn btn-default">
                    <a href="{{ object.get_absolute_url }} " class = "btn btn-default">Cancel</a>
                </form>
            </div>

        <hr/>
    </div>
{% endblock content %}